* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background: #0e0e0e;
  height: 100vh;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

h1 {
  font-size: 80px;
}

section {
  height: 80vh;
  position: relative;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

#panel1, #home {
  color: whitesmoke;
  opacity: 0;
}

#panel2 {
  font-size: 10px;
}

#panel3 {
  color: whitesmoke;
  display: -ms-grid;
  display: grid;
  padding: 1vw;
  grid-gap: 10px;
}

#panel3 .Projects {
  border: solid 1px;
}

#panel3 .Skills {
  border: solid 1px;
}

.Name {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-top: 30vh;
  padding-left: 5vw;
}

.Name .box {
  position: absolute;
  top: 30vh;
  display: inline-block;
  background: #5323f3;
  height: 1vw;
  z-index: -1;
}

.Name h1 {
  font-size: 8vw;
}

.jobType {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  top: 60vh;
  padding-left: 5vw;
}

.jobType h1 {
  padding-bottom: 20;
  font-size: 3vw;
}

.watchHeader {
  position: absolute;
  text-align: right;
  width: 100%;
  top: calc(80vh - 390px);
  padding-right: 7vw;
}

.watchContent {
  position: absolute;
  text-align: right;
  top: calc(80vh - 260px);
  padding-right: 7vw;
  width: 100%;
}

.watchContent h2 {
  font-size: 30px;
  padding-bottom: 20px;
}

.WatchMore {
  margin-top: 30px;
}

.btn {
  border-radius: 0.6em;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 10px;
  padding: 5px;
  border-color: #85c0ff;
  width: 150px;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(45deg, #85bfff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
  background-position: 0;
}

.scrollIconContainer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 70px;
  bottom: 0;
  opacity: 1;
}

.icon-scroll {
  opacity: 0;
  width: 30px;
  height: 50px;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
          box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  position: absolute;
  height: 8px;
  margin-left: 10px;
  margin-top: 5px;
  background: #fff;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

.watchBody {
  position: absolute;
  top: 0;
  left: 290px;
  -webkit-transform: rotate(50deg) scale(1.4);
          transform: rotate(50deg) scale(1.4);
}

.watchBody .watchFace {
  position: absolute;
  width: 200px;
  height: 250px;
  /* border: solid 1px white; */
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 1px 1px #c7c7c7, -1px 0px 2px 0px white;
          box-shadow: 4px 4px 1px 1px #c7c7c7, -1px 0px 2px 0px white;
}

.watchBody .watchCrown {
  position: absolute;
  width: 10px;
  height: 30px;
  top: 20%;
  left: -10px;
  background: white;
  background-size: 2px 7px;
  border-radius: 5px 0 0 5px;
  padding-bottom: 3px;
  background-image: linear-gradient(to top, transparent 1px, #5e5452 4px, transparent 1px);
}

.watchBody .watchStrap1 {
  position: absolute;
  height: 200px;
  width: 150px;
  left: 25px;
  bottom: 0;
  border: solid 2px #4c4c4c;
  border-top: none;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watchBody .watchStrap1 .holes {
  height: 20px;
  width: 20px;
  border: solid 2px #343434;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 6px 0px #727272;
          box-shadow: 0px 0px 6px 0px #727272;
}

.watchBody .watchStrap2 {
  position: absolute;
  height: 200px;
  width: 150px;
  left: 25px;
  top: 255px;
  border: solid 2px #4c4c4c;
  border-bottom: none;
  border-top: none;
}

.watchDisplay .WatchBubble {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 195px;
  left: 0px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.watchDisplay .WatchBubble .bb {
  position: absolute;
  -webkit-box-shadow: 0px 0px 1px 1px #ffffffcc, inset 0px 0px 4px 1px #ffffff;
          box-shadow: 0px 0px 1px 1px #ffffffcc, inset 0px 0px 4px 1px #ffffff;
  border-radius: 50%;
  background: #ececec;
}

.watchDisplay .WatchBubble .bubble1 {
  top: 5px;
  height: 15px;
  width: 15px;
}

.watchDisplay .WatchBubble .bubble2 {
  top: 30px;
  height: 25px;
  width: 25px;
}

.watchDisplay .WatchBubble .bubble3 {
  left: 33px;
  top: 17px;
  height: 17px;
  width: 17px;
}

.watchDisplay .WatchBubble .bubble4 {
  top: 40px;
  left: 32px;
  height: 12px;
  width: 12px;
}

.watchDisplay .WatchBubble .bubble5 {
  top: 36px;
  left: 55px;
  height: 15px;
  width: 15px;
}

.watchDisplay .clock {
  position: absolute;
  top: 70px;
  left: 70px;
  position: absolute;
  top: 75px;
  left: 95px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.watchDisplay .clock .ClockCenter {
  position: absolute;
  bottom: -20px;
  left: -20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: orange;
}

.watchDisplay .clock .hour-hand {
  position: absolute;
  height: 80px;
  width: 8px;
  margin: auto;
  top: 40px;
  left: 5px;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background-color: #507D9C;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-box-shadow: 0px 0px 3px 2px white;
          box-shadow: 0px 0px 3px 2px white;
}

.watchDisplay .clock .minute-hand {
  position: absolute;
  height: 120px;
  width: 8px;
  margin: auto;
  top: -30%;
  left: 2px;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background-color: #507D9C;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-box-shadow: 0px 0px 3px 2px white;
          box-shadow: 0px 0px 3px 2px white;
}

.watchDisplay .clock .second-hand {
  position: absolute;
  height: 120px;
  width: 2px;
  margin: auto;
  top: -30%;
  left: 5px;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background-color: #507D9C;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.watchDisplay .WatchAlarm {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 145px;
  text-shadow: 0px 0px 12px #cecece;
  color: white;
}

.watchDisplay .WatchAlarm .alarm {
  position: absolute;
  left: 30px;
  top: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 20px;
}

.watchDisplay .WatchAlarm .gps {
  position: absolute;
  left: 15px;
  top: 5px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  font-size: 20px;
}

.watchDisplay .WatchPower {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 145px;
  top: 200px;
  color: white;
  text-shadow: 0px 0px 5px #cecece;
}

.watchDisplay .WatchPower .battery {
  font-size: 25px;
  position: absolute;
  top: 20px;
  left: 15px;
}

.watchDisplay .WatchNetwork {
  position: absolute;
  width: 50px;
  height: 50px;
  padding-top: 20px;
  left: -5px;
  color: white;
  text-shadow: 0px 0px 12px #cecece;
}

.watchDisplay .WatchNetwork .BL {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
  position: absolute;
  left: 30px;
  top: 7px;
  font-size: 20px;
}

.watchDisplay .WatchNetwork .wifi {
  font-size: 15px;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  position: absolute;
  left: 10px;
  top: 30px;
}

.PhoneAppBody .graph {
  height: 80px;
  position: absolute;
  opacity: 0;
  /* margin-top: -101px; */
  margin-left: 80px;
  z-index: 0;
  overflow: hidden;
  padding-top: 8px;
}

.PhoneAppBody .card {
  height: 90px;
  margin: 7px;
  margin-bottom: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 1px #acacac;
          box-shadow: 0px 0px 3px 1px #acacac;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  padding: 10px;
}

.PhoneAppBody .Card2, .PhoneAppBody .Card4, .PhoneAppBody .Card1 {
  background: -webkit-gradient(linear, left top, right top, from(#e9ffed), to(#71ff83eb));
  background: linear-gradient(90deg, #e9ffed, #71ff83eb);
}

.PhoneAppBody .Card3 {
  background: -webkit-gradient(linear, left top, right top, from(#fff0f0), to(#ffaeaf));
  background: linear-gradient(90deg, #fff0f0, #ffaeaf);
}

.PhoneAppBody .SignalInfo {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.PhoneAppBody .SignalInfo .support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}

.PhoneAppBody .SignalInfo .signaltype {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  -webkit-transform: scale(0.9, 1);
          transform: scale(0.9, 1);
}

.PhoneAppBody .SymbolInfo {
  display: -ms-grid;
  display: grid;
  margin-top: 5px;
  -ms-grid-rows: 35% 55%;
      grid-template-rows: 35% 55%;
  grid-gap: 10px;
  border-right: 1px solid black;
}

.PhoneAppBody .SymbolInfo .SymbolName {
  display: -ms-grid;
  display: grid;
  margin-top: -5px;
  -ms-grid-columns: auto 100%;
      grid-template-columns: auto 100%;
  grid-gap: 5px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.PhoneAppBody .SymbolInfo .SymbolName .comp {
  font-size: 20px;
  font-weight: bold;
}

.PhoneAppBody .SymbolInfo .Indicators {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 26% 70%;
      grid-template-columns: 26% 70%;
}

.PhoneAppBody .SymbolInfo .Indicators .Type, .PhoneAppBody .SymbolInfo .Indicators .values {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.PhoneAppBody .SymbolInfo .Indicators .RSI14 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 11% 15% 11% 15% 11% 15%;
      grid-template-columns: 5% 11% 15% 11% 15% 11% 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 3px;
}

.PhoneAppBody .SymbolInfo .Indicators .RSI14 .RSIColor {
  width: 10px;
  height: 10px;
  border-radius: 4px;
}

.PhoneAppBody .SymbolInfo .Indicators .RSI14 .red {
  background: red;
}

.PhoneAppBody .SymbolInfo .Indicators .RSI14 .green {
  background: green;
}

.PhoneAppBody .SymbolInfo .Indicators .RSI14 .RSIValue {
  margin-left: -3px;
}

.panel2Header {
  position: absolute;
  margin-left: 60px;
  color: whitesmoke;
}

.panel2Content {
  position: absolute;
  margin-top: 150px;
  margin-left: 60px;
  color: whitesmoke;
  width: 100%;
}

.panel2Content h2 {
  font-size: 30px;
  padding-bottom: 20px;
}

.panel2Content h3 {
  font-size: 18px;
}

.panel2Content .btn {
  margin-left: 0;
  margin-right: 10px;
}

.PhoneAppHeader {
  margin: 15px;
  margin-bottom: 0;
  color: black;
  font-size: 27px;
  font-weight: bold;
}

.PhoneAppSearch {
  padding: 7px;
  color: #666666;
  -webkit-box-shadow: 0px 0px 2px 1px #acacac;
          box-shadow: 0px 0px 2px 1px #acacac;
  border-radius: 20px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.phoneBody {
  position: absolute;
  overflow: hidden;
  top: 7vh;
  right: 5vw;
  width: 35vh;
  height: 70vh;
  margin: 15px;
  border: 6px solid black;
  border-radius: 45px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 1px 1px 6px 1px white;
          box-shadow: 1px 1px 6px 1px white;
}

.phoneBody:after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 50%;
  width: 100px;
  height: 3px;
  border-radius: 2px;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  background-color: black;
  z-index: 1000;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(26px);
            transform: translateY(26px);
  }
}

.panel2Cover {
  position: absolute;
  top: 15vh;
  width: 100%;
}

@media only screen and (max-width: 770px) {
  .panel2Cover {
    height: 500px;
    margin-top: 20%;
    margin-left: -40px;
    width: 10000px;
    background: #0e0e0ea8;
  }
  .panel2Cover .blur {
    position: absolute;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0);
    height: 100vh;
    width: 1000px;
  }
}

@media only screen and (max-width: 500px) {
  .Name h1 {
    font-size: 8vw;
  }
  .jobType {
    top: 50vh;
  }
  .jobType h1 {
    font-size: 6vw;
  }
  .watchHeader {
    top: calc(80vh - 260px);
  }
  .watchHeader h1 {
    font-size: 50px;
  }
  .watchBody {
    top: 20;
    left: 220px;
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
  .watchContent {
    margin-top: 0;
    top: calc(80vh - 170px);
  }
  .watchContent h2 {
    padding-bottom: 1vh;
    font-size: 3.5vw;
  }
  .watchContent h3 {
    padding-top: 10px;
  }
  .WatchMore {
    margin-top: 20px;
  }
  .phoneBody {
    top: 1vh;
    right: 8.5vw;
  }
  .panel2Cover {
    margin-top: 28vh;
  }
  .panel2Header h1 {
    font-size: 41px;
  }
  .panel2Content {
    margin-top: 71px;
  }
  .panel2Content h2 {
    padding-bottom: 1vh;
    font-size: 3.5vw;
  }
  .panel2Content h3 {
    padding-top: 10px;
  }
  .PhoneAppBody .graph {
    margin-left: 105px;
  }
}
/*# sourceMappingURL=main.css.map */